{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": false,
  "include": [
    "src/Service/*.ts",
    "src/Http/Controller/*.ts",
    "src/Entity/*.ts"
  ],
  "excludes": [
    "src/DataSource/**/**/**"
  ],
  "check-coverage": true
}